.portfolio-area {
  display: flex;
  flex-direction: column;
}

.content-area {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: calc(100% - 20px);
  padding: 20px 20px 0px 0px;
  margin-top: 60px;
}

.footer-button {
  display: flex;
  background: #282c34;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  color: white;
  padding: 12px;
  margin-right: 10px;
  box-shadow: 0px 4px 14px -5px rgba(34, 60, 80, 0.2);
  transition-property: background, color, font-family, transform;
  transition-duration: .3s;
  position: fixed;
  top: calc(100vh - 64px);
  left: calc(100vw - 118px)
}

.footer-button:hover {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  font-family: "Golos-UI-Medium", serif;
  cursor: pointer;
}

.footer-button-hidden {
  transform: translateY(200px);
}

.footer-button-icon {
  margin-right: 5px;
  padding-top: 2px;
}
